#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

h2 {
  color: lightcoral;
  text-transform:uppercase;
}

.categories {
  display: flex;
  flex-direction: row;

}

.categories button {
  margin: 1em 0.15em;
  border: solid 1px #ccc;
  color: rgb(17, 63, 116);
}

.categories button.active {
  background-color: rgba(17, 63, 116, 0.8);
  color: #ccc;

}

.availabilities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 8px;
  padding-top: 1.5em;
  margin: 2em 0;
}

